/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --cell-size: 150px; /* Default cell size */
  --grid-size: 1; /* Default grid size */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Font face */
@font-face {
  font-family: "Game Of Squids";
  src: url("/fonts/Game Of Squids.ttf") format("truetype");
}

/* Global styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Game Of Squids", Arial, sans-serif;
}

.heading-container {
  padding: 2rem;
  padding-bottom: 5rem;
}

/* Heading styles */
.heading {
  font-family: "Game Of Squids", Arial, sans-serif;
  font-size: 8rem;
  text-align: center;
  margin-top: 20px;
}

.heading .highlight {
  color: rgb(255, 88, 116);
}

/* Cell styles */
.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  height: var(--cell-size);
  width: var(--cell-size);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, height 0.3s, width 0.3s; /* Add transitions for smooth animation */
  animation: fadeIn 0.5s ease-in-out;
}

.cell.active {
  background-color: #f0f0f0;
  color: #333;
  animation: activate 0.5s forwards;
}

.cell.inactive {
  background-color: #000;
  color: #000;
  animation: inactivate 0.5s forwards;
}

.cell .team-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.cell .team-number {
  font-size: 0.9rem;
  color: #666;
}

.cell .problem-statement {
  font-size: 0.8rem;
  color: rgb(255, 88, 116);
}

@keyframes activate {
  from {
    background-color: #000;
    color: #000;
  }
  to {
    background-color: #f0f0f0;
    color: #333;
  }
}

@keyframes inactivate {
  from {
    background-color: #f0f0f0;
    color: #333;
  }
  to {
    background-color: #000;
    color: #000;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: 10px;
  padding: 20px;
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
  place-items: center; /* Center the grid items */
  height: 100vh; /* Ensure the grid takes the full height of the viewport */
  animation: fadeIn 1s ease-in-out;
}

.link-container {
  text-align: center;
  margin-top: 20px;
}

.grid-link {
  font-size: 1.2rem;
  color: #0070f3;
  text-decoration: none;
}

.grid-link:hover {
  text-decoration: underline;
}
